header{
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;

  @media screen and (max-width: 1000px){
  position: fixed;
  z-index: 10000;
  box-shadow: 1px 1px 4px grey;
  height: 8vh;
  transition: ease-in 1s;
  }
  @media screen and (min-width: 1001px){
  height: 8vh;
  display: block;
  }
  img{
    margin: 10px 0 10px 5%;
    width: 8vh;
    position: relative;
    @media screen and (min-width: 1001px){
    float: left;
    position: absolute;
    }
  }
    .nav{
      @media screen and (max-width: 1000px){
      margin:5% 0 15%;
      position: absolute;
      z-index:10000;
      width: 100%;
      height: 65vh;
      }

      @media screen and (min-width: 1001px){
      display: flex;
      line-height: 80px;
      height: 80px;
      width: 50%;
      margin: 0 auto;
      }

      &__list{
          display: flex;
          vertical-align: middle;

        @media screen and (max-width: 1000px){
          box-sizing: border-box;
          position: relative;
          height: 50vh;
          margin-bottom: 10vh;
          flex-direction: column;
          justify-content: space-around;
        }

        @media screen and (min-width: 1001px){
          display: block;
          height: 80px;
          width: 80%;
          margin: 0 auto;
          flex-direction: row;
          justify-content: space-between;

          li{
            position: relative;
            display: inline-block;
            width: 30%;
            z-index: 10000;
          }
        }

        &__item {
          height: 10vh;
          @media screen and (min-width: 1001px){
            width: 30%;
            display: inline-block;
          }
        }
      &__item--selected a{
            @media screen and (max-width: 1000px){
              top:-9vh;
            padding: 5% 0 5%;
            position: relative;
            z-index:10000;
            }
            @media screen and (min-width: 1000px){
            top:-7vh;
            z-index:10000;
            transform: skewX(10deg);
            }
          }

      &__item--selected:before{
          content: "";
          display: block;
          position: relative;

          @media screen and (max-width: 1000px){
            top:-1vh;
            height: 10vh;
            width: 100%;
            transform: skewY(-5deg);
            z-index: 4;
          }
          @media screen and (min-width: 1001px){
            display: none;
          }
        }
      }
    }
  .lang{
    margin:5% auto;
    position: absolute;
    top: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 1001px){
    margin: 0 5%;
    top: 2px;
    position: absolute;
    right: 0;
    font-size: 60%;
    width: 12%;
    }
  }
}
.header-height{
  height: 100vh;
}
.hamburger {
  @media screen and (min-width: 1001px){
  display: none;
  }
  @media screen and (max-width: 1000px){
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background-color: transparent;
  position: absolute;
  right: 0;
  padding: 3vh;
  border: 0;
  margin: 0;
  overflow: visible; }


.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    height: 4px;
    top: -10px; }
  .hamburger-inner::after {
    height: 4px;
    bottom: -10px; }
    .hamburger--elastic .hamburger-inner {
      top: 2px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease; }
      .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .hamburger--elastic .hamburger-inner.is-active {
      transform: translate3d(0, 10px, 0) rotate(135deg);
      transition-delay: 0.075s; }
      .hamburger--elastic .hamburger-inner.is-active::before {
        transition-delay: 0s;
        opacity: 0; }
      .hamburger--elastic .hamburger-inner.is-active::after {
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.075s;
      }
    }
.portfolio{
border-bottom: 2px solid darken($c-blau, 20%);
.nav__list__item--selected:before{
background-color: lighten($c-blau, 10%);
}
.nav__list__item--selected{
  @media screen and (min-width: 1000px){
  background-color: lighten($c-blau, 10%);
    transform: skewX(-10deg);
  }
}
}
.about{
border-bottom: 2px solid darken($c-blauFluix, 20%);
.nav__list__item--selected:before{
background-color: $c-blauFluix;
}
.nav__list__item--selected{
  @media screen and (min-width: 1000px){
  background-color:$c-blauFluix;
  transform: skewX(-10deg);
  a{
    transform: skewX(10deg);
  }
  }
}
}
.contact{
  border-bottom: 2px solid darken($c-groc, 20%);
  .nav__list__item--selected:before{
  background-color: lighten($c-groc, 10%);
  }
  .nav__list__item--selected{
    @media screen and (min-width: 1000px){
    background-color: lighten($c-groc, 10%);
      transform: skewX(-10deg);
    }
  }
}
