header{
  margin: 0;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 1000px){
  background-color: white;
  position: fixed;
  z-index: 10000;
  box-shadow: 1px 1px 4px grey;
  height: 80px;
  }
  @media screen and (min-width: 1001px){
  max-height: 80px;
  display: block;
  }
  img{
    margin: 10px 0 10px 5%;
    height: 65px;
    width: 90px;
    position: relative;
    @media screen and (min-width: 1001px){
    width: 90px;
    float: left;
    position: absolute;
    }
  }
  .burguer{
    float: right;
  }
    .nav{
      @media screen and (max-width: 1000px){
      margin:5% 0 15%;
      position: absolute;
      z-index:10000;
      width: 100%;
      height: 65vh;
      }

      @media screen and (min-width: 1001px){
      display: flex;
      line-height: 80px;
      height: 80px;
      width: 50%;
      margin: 0 auto;
      }

      &__list{
          display: flex;
          vertical-align: middle;

        @media screen and (max-width: 1000px){
          box-sizing: border-box;
          position: relative;
          height: 50vh;
          margin-bottom: 10vh;
          flex-direction: column;
          justify-content: space-around;
        }

        @media screen and (min-width: 1001px){
          display: block;
          height: 80px;
          width: 80%;
          margin: 0 auto;
          flex-direction: row;
          justify-content: space-between;

          li{
            display: inline-block;
            width: 30%;
          }
        }

        &__item {
          @media screen and (min-width: 1001px){
            width: 30%;
            display: inline-block;
          }
          &a, &--selected a{
            @media screen and (max-width: 1000px){
            padding: 5% 0 15%;
            position: relative;
            z-index:10000;
            }
          }
        }
      &__item--selected:before{
          content: "";
          display: block;
          position: relative;

          @media screen and (max-width: 1000px){
            top:9vh;
            height: 15vh;
            width: 100%;
            background-color: lighten($c-blau, 10%);
            transform: skewY(-5deg);
            z-index: 4;
          }
          @media screen and (min-width: 1001px){
            height: 2px;
            width: 100%;
            color: black;
            top: 80%;
            z-index: 10000;
          }
        }
      }
    }
  .lang{
    margin:5% auto;
    position: absolute;
    top: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 1001px){
    margin: 0 5%;
    top: 20px;
    position: absolute;
    right: 0;
    width: 12%;
    }
  }
}
