.body-portfolio{
  background-color: $c-blau;
}
.intro, .info{
  position: relative;
  z-index: 0;
  //height: 500px;
}
.intro{
background-color: $c-blau;
padding: 5%;


img{
  display: block;
  margin: 0 auto;
  @media screen and(max-width: 430px){
  width: 70%;
  }
}


&__item--right{
    @media screen and(min-width: 780px){
  width: 55%;
  }
}

}
.info{
background-color: white;
width: 90%;
padding: 5% 5% 10%;
}
.description{
  margin-bottom: 2em;
  color: white;
}
